#vim
*.swp

#mono
*.mdb
*.pidb

# monodevelop
*.userprefs
*.log
bin/
obj/

# nunit
TestResult.xml
test-results/

# xcode
build/
*.mode2v3
*.pbxuser

# external library sources
ext/funq
ext/htmlagilitypack
ext/retlang
